/* Reseter */
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */

body{
    background-color: black;
}
header {
    background-image: url(img/pexels-airam-datoon-13106582.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 600px;

    margin: 0 auto;
    padding: 50px;
}

.imgDiv {
    width: 40%;
}

.capsulaHeaderH2 {
    font-size: larger;
}

.fit {
    color: rgb(0, 156, 36);
}

.SpnDesc {
    font-size: small;
    color: rgba(255, 255, 255, 0.772);
}

.descP p {
    color: rgba(255, 255, 255, 0.772);
}

button {
    padding: 20px;
    color: white;
    background-color: rgb(0, 156, 36);
    border: solid black;
    box-shadow: 0px -4px 5px rgb(0, 83, 20) inset;
    border-radius: 2px;
    transition: 0.5s;
    cursor: pointer;
}

button:hover {
    background-color:  white;
    box-shadow: none;
    color: black;
    border: solid rgb(0, 156, 36);
}

#planoE {
    margin-top: 140px;
}


/* section */

.sectionBanner {
    height: 150px;
    background-color: rgb(0, 156, 36);
    color: white;
    display: flex;
    width: 100%;
    flex-direction: column;
    z-index: 1;

}

.divSections {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;


}

.divSection1,
.divSection2,
.divSection3 {
    margin: 40px;
    width: 140px;
    font-size: 20px;
}

.divSection1 h3,
.divSection2 h3,
.divSection3 h3 {
    font-weight: 100;
}

.btnCard {
    align-self: center;
    margin: 0 auto;
    width: 100%;
}



/* main */


.card1 {
    width: 400px;
    height: 500px;
    background-color: black;
    color: white;
    padding: 50px;
    margin: 0px auto;
    position: relative;
    top: -100px;
    border: 1px solid white;
    z-index: 0;
}

.autonomia {
    width: 100%;
    margin: 5px auto -5px;
    padding: 40px 0px;
    background-color: black;
    color: white;
    text-align: center;
}

.autonomiaSpn {
    color: rgb(0, 156, 36)
}

.longe {
    color: rgb(0, 156, 36);
}

li {
    list-style: circle;
}

.descQuad {
    background-color: black;
    height: 1000px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quad {
    background-color: black;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.507);
    width: 70vw;
    margin: 10px auto;
    padding: 20px;
    display: flex;
    align-items: center;
}

.quad h1 {
    font-size: 55pt;
    margin: 0px 10px;
}

.depoimento {
    background-color: #eee;
    width: 100%;
    height: 300px;
    display: flex;
}
.fm1{
    background-image: url(img/pexels-mart-production-8433401.jpg);
    background-size: 100%;
    background-position: center center;
}
.fm2{
    background-image: url(img/pexels-lucas-brown-16135858.jpg);
    background-size: 100%;
    background-position: center center;
}

.AntesDepois {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 100vw;
    background-color: rgb(75, 75, 75);
    color: white;
}

.quadAntes {
    width: 80%;
    height: 200px;
    background-color: #f3f3f3;
    margin-top: 10px;
    border-radius: 10px;
}

.pro {
    width: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.aluna {
    padding: 20px;
    margin: 0px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ftA {
    display: none;
}



.section1 {
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    padding-top: 40px;
    padding-bottom: 40px;

}

.mensal {
    width: 300px;
    height: 500px;
    background-color: #7d7d7d;
    padding: 10px;
    margin: auto;
    text-align: center;
    border-radius: 10px ;
    border: 1px solid white;
}

.mensal h1 {
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 40px;
    color: rgb(62, 253, 62);
}

.mensal li {
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.trimestral {
    width: 300px;
    height: 500px;
    background-color: #7d7d7d;
    padding: 30px;
    margin: auto;
    text-align: center;
    border-radius: 10px ;
    border: 1px solid white;

}
.trimestral h1{
    font-size: 50px;
    margin-bottom: 50px;
    margin-top: 40px;
    color: rgb(62, 253, 62);
}


.trimestral li {
    list-style: none;
    margin-top: 5px;
    margin-bottom: 5px;
    
}
.ulTrimestral li,.ulMensal li{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 16pt;
    padding: 20px;
}

h5{
    text-decoration: line-through;
    color: rgb(173, 63, 63);
}
/* {
    margin-bottom: 50px;
} */
.price1{
    font-size: 40px;
    color:  rgb(0, 120, 28) ;
}
.barraVenda{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 3px;
    align-self: center;
    border-radius: 3px;
}
.NPlanos{
    color: white;
    text-align: center;
    font-size: 50px;
    margin: 30px 0px;
    padding-top: 20px;
}
.btnQP{
    margin-top: -20px;
    text-align: center;
}
.faq{
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin: auto;
}
select{
    width: 60%;
    height: 50px;
    background-color: #313131;
    margin: 5px auto;
    color: white;
    padding: 0 20px;
}
footer{
    height: 200px;
}


















@media (max-width: 1100px) {

    .divSection1 h3,
    .divSection2 h3,
    .divSection3 h3 {
        color: rgb(0, 156, 36);
    }

    .ftA {
        display: flex;
    }

}

@media (max-width: 700px) {

    .AntesDepois {
        display: none;
    }
}

@media (min-width: 700px) {

    .ftA {
        display: none;
    }
}